streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb
pypdf
sentence-transformers
